In [1]:
import pandas as pd

data = pd.read_csv("/home/woo/kuBig2025/ml_dl_python/data/titanic/train.csv")
print(data.info())
print(data.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [2]:
df = data[['Pclass', 'Age', 'SibSp', 'Fare', 'Survived']]
df.dropna(inplace=True)
df_input = df.iloc[:, :-1].values # -1의 의미는 마지막 열을 제외한다는 의미
df_target = df.iloc[:, -1].values
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df_input, df_target, test_size=0.2) # X가 대문자인 이유는 여러개의 칼럼을 참조하기 때문
from xgboost import XGBClassifier
xgb = XGBClassifier(tree_method="hist")
xgb.fit(X_train, y_train)
from sklearn.metrics import accuracy_score 

y_pred = xgb.predict(X_test)
accurate = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accurate:.2f}") # 2자리 소수점까지 출력

/tmp/ipykernel_179976/2339081898.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(inplace=True)

Accuracy: 0.67

In [3]:
test = pd.read_csv("/home/woo/kuBig2025/ml_dl_python/data/titanic/test.csv")

test_df = test[['Pclass', 'Age', 'SibSp', 'Fare']] # test 데이터는 Survived가 없으므로 제외

print(test_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Pclass  418 non-null    int64
 1   Age     332 non-null    float64
 2   SibSp   418 non-null    int64
 3   Fare    417 non-null    float64
dtypes: float64(2), int64(2)
memory usage: 13.2 KB
None

In [4]:
pred_test = xgb.predict(test_df)
pred_test.astype(int) # 예측 결과의 shape를 int로 변환
submission = pd.DataFrame({
    'PassengerId': test['PassengerId'],
    'Survived': pred_test
})

In [5]:
submission.info()
submission.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
dtypes: int64(2)
memory usage: 6.7 KB

   PassengerId  Survived
0          892         0
1          893         0
2          894         1
3          895         1
4          896         0

In [6]:
submission.to_csv("/home/woo/kuBig2025/ml_dl_python/data/titanic/xgb_titanic.csv", index=False) # index를 False로 설정하여 인덱스 열을 제외하고 저장
print("Submission file created successfully.")

Submission file created successfully.