# ÎÇòÏù¥ ÏòàÏ∏°Ìï¥Î≥¥Í∏∞

In [112]:
import pandas as pd

data = pd.read_csv("/home/woo/kuBig2025/ml_dl_python/data/titanic/train.csv")
print(data.info())
print(data.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [113]:
# Ïù¥Î¶ÑÏóêÏÑú 'Mr.', 'Mrs.' Í∞ôÏùÄ Ìò∏Ïπ≠ Ï∂îÏ∂ú
data['Title'] = data['Name'].str.extract(r' ([A-Za-z]+)\.', expand=False)

# Í≤∞Í≥º ÌôïÏù∏
print(data[['Name', 'Title']].head(10))  # ÏÉÅÏúÑ 10Í∞úÎßå ÌôïÏù∏

                                                Name   Title
0                            Braund, Mr. Owen Harris      Mr
1  Cumings, Mrs. John Bradley (Florence Briggs Th...     Mrs
2                             Heikkinen, Miss. Laina    Miss
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)     Mrs
4                           Allen, Mr. William Henry      Mr
5                                   Moran, Mr. James      Mr
6                            McCarthy, Mr. Timothy J      Mr
7                     Palsson, Master. Gosta Leonard  Master
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)     Mrs
9                Nasser, Mrs. Nicholas (Adele Achem)     Mrs

In [114]:
# TitleÏùÑ Í∞ÑÏÜåÌôî
data['Title'] = data['Title'].replace(['Mlle', 'Ms'], 'Miss')
data['Title'] = data['Title'].replace(['Mme'], 'Mrs')

# Îì±Ïû• ÎπàÎèÑÍ∞Ä ÎÇÆÏùÄ Ìù¨Í∑Ä Ìò∏Ïπ≠Îì§ÏùÑ RareÎ°ú Î¨∂Í∏∞
rare_titles = [
    'Dr', 'Rev', 'Col', 'Major', 'Lady', 'Don', 'Dona', 'Jonkheer', 'Capt', 'Countess', 'Sir'
]
data['Title'] = data['Title'].replace(rare_titles, 'Rare')

In [115]:
print(data['Title'].value_counts())

Title
Mr        517
Miss      185
Mrs       126
Master     40
Rare       23
Name: count, dtype: int64

In [116]:
# TitleÏù¥ 'Rare'Ïù∏ ÏÇ¨ÎûåÎì§Îßå Ï∂îÏ∂ú
rare_data = data[data['Title'] == 'Rare']

# Ïù¥Î¶ÑÍ≥º ÏõêÎûò Ìò∏Ïπ≠ÏùÑ Ìï®Íªò Î≥¥Í∏∞ ÏúÑÌï¥ Name Ïª¨Îüº Ìè¨Ìï®Ìï¥ÏÑú Ï∂úÎ†•
print(rare_data[['Name', 'Sex', 'Age', 'Title']])

                                                  Name     Sex   Age Title
30                            Uruchurtu, Don. Manuel E    male  40.0  Rare
149                  Byles, Rev. Thomas Roussel Davids    male  42.0  Rare
150                         Bateman, Rev. Robert James    male  51.0  Rare
245                        Minahan, Dr. William Edward    male  44.0  Rare
249                      Carter, Rev. Ernest Courtenay    male  54.0  Rare
317                               Moraweck, Dr. Ernest    male  54.0  Rare
398                                   Pain, Dr. Alfred    male  23.0  Rare
449                     Peuchen, Major. Arthur Godfrey    male  52.0  Rare
536                  Butt, Major. Archibald Willingham    male  45.0  Rare
556  Duff Gordon, Lady. (Lucille Christiana Sutherl...  female  48.0  Rare
599       Duff Gordon, Sir. Cosmo Edmund ("Mr Morgan")    male  49.0  Rare
626                     Kirkland, Rev. Charles Leonard    male  57.0  Rare
632                          Stahelin-Maeglin, Dr. Max    male  32.0  Rare
647                Simonius-Blumer, Col. Oberst Alfons    male  56.0  Rare
660                      Frauenthal, Dr. Henry William    male  50.0  Rare
694                                    Weir, Col. John    male  60.0  Rare
745                       Crosby, Capt. Edward Gifford    male  70.0  Rare
759  Rothes, the Countess. of (Lucy Noel Martha Dye...  female  33.0  Rare
766                          Brewe, Dr. Arthur Jackson    male   NaN  Rare
796                        Leader, Dr. Alice (Farnham)  female  49.0  Rare
822                    Reuchlin, Jonkheer. John George    male  38.0  Rare
848                                  Harper, Rev. John    male  28.0  Rare
886                              Montvila, Rev. Juozas    male  27.0  Rare

### Ïñ¥Î¶∞ÏïÑÏù¥Îì§Ïùò Ìò∏Ïπ≠ ÌôïÏù∏ (15ÏÑ∏ Ïù¥Ìïò)

In [117]:
# ÎÇòÏù¥Í∞Ä 15ÏÑ∏ ÎØ∏ÎßåÏù∏ Îç∞Ïù¥ÌÑ∞Îßå Ï∂îÏ∂ú
children = data[data['Age'] < 15]

# Î™á Î™ÖÏù∏ÏßÄ ÌôïÏù∏
print("Ïñ¥Î¶∞Ïù¥ Ïàò:", len(children))

Ïñ¥Î¶∞Ïù¥ Ïàò: 78

In [118]:
# Ïñ¥Î¶∞Ïù¥Îì§Ïùò Title Î∂ÑÌè¨ Î≥¥Í∏∞
print(children['Title'].value_counts())

Title
Miss      38
Master    36
Mr         3
Mrs        1
Name: count, dtype: int64

In [119]:
# Ïù¥Î¶Ñ, ÏÑ±Î≥Ñ, ÎÇòÏù¥, Ìò∏Ïπ≠Îßå Ï∂úÎ†•
print(children[['Name', 'Sex', 'Age', 'Title']])

                                        Name     Sex    Age   Title
7             Palsson, Master. Gosta Leonard    male   2.00  Master
9        Nasser, Mrs. Nicholas (Adele Achem)  female  14.00     Mrs
10           Sandstrom, Miss. Marguerite Rut  female   4.00    Miss
14      Vestrom, Miss. Hulda Amanda Adolfina  female  14.00    Miss
16                      Rice, Master. Eugene    male   2.00  Master
..                                       ...     ...    ...     ...
827                    Mallet, Master. Andre    male   1.00  Master
831          Richards, Master. George Sibley    male   0.83  Master
850  Andersson, Master. Sigvard Harald Elias    male   4.00  Master
852                  Boulos, Miss. Nourelain  female   9.00    Miss
869          Johnson, Master. Harold Theodor    male   4.00  Master

[78 rows x 4 columns]

In [120]:
# TitleÎ≥Ñ ÌèâÍ∑† ÎÇòÏù¥
title_age_means = data.groupby('Title')['Age'].mean()
print(title_age_means)

Title
Master     4.574167
Miss      21.845638
Mr        32.368090
Mrs       35.788991
Rare      45.545455
Name: Age, dtype: float64

In [121]:
# ÌèâÍ∑†Í∞íÏúºÎ°ú Age Í≤∞Ï∏°Í∞í Ï±ÑÏö∞Í∏∞
data['Age'] = data.apply(
    lambda row: title_age_means[row['Title']] if pd.isnull(row['Age']) else row['Age'],
    axis=1
)

In [122]:
# Age Í≤∞Ï∏°Í∞í ÌôïÏù∏
print("ÎÇ®ÏùÄ Age Í≤∞Ï∏°Í∞í Ïàò:", data['Age'].isnull().sum())

ÎÇ®ÏùÄ Age Í≤∞Ï∏°Í∞í Ïàò: 0

In [123]:
print("Ïª¨Îüº Î™©Î°ù:", data.columns.tolist())

Ïª¨Îüº Î™©Î°ù: ['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'Title']

In [124]:
print(data.groupby('Title')['Age'].mean()) # ÌèâÍ∑† ÎÇòÏù¥ ÌôïÏù∏

Title
Master     4.574167
Miss      21.845638
Mr        32.368090
Mrs       35.788991
Rare      45.545455
Name: Age, dtype: float64

# Ï£ºÏöî Î≥ÄÏàòÎ≥Ñ ÏÉùÏ°¥Î•† ÌôïÏù∏

In [125]:
# PclassÎ≥Ñ ÏÉùÏ°¥Î•†
print(data.groupby('Pclass')['Survived'].mean())

# SexÎ≥Ñ ÏÉùÏ°¥Î•†
print(data.groupby('Sex')['Survived'].mean())

# TitleÎ≥Ñ ÏÉùÏ°¥Î•†
print(data.groupby('Title')['Survived'].mean())

# Age Íµ¨Í∞ÑÎ≥Ñ ÏÉùÏ°¥Î•† (Ïòà: Ïñ¥Î¶∞Ïù¥ vs ÏÑ±Ïù∏)
data['IsChild'] = data['Age'] < 15
print(data.groupby('IsChild')['Survived'].mean())

Pclass
1    0.629630
2    0.472826
3    0.242363
Name: Survived, dtype: float64
Sex
female    0.742038
male      0.188908
Name: Survived, dtype: float64
Title
Master    0.575000
Miss      0.702703
Mr        0.156673
Mrs       0.793651
Rare      0.347826
Name: Survived, dtype: float64
IsChild
False    0.364648
True     0.573171
Name: Survived, dtype: float64

# train Îç∞Ïù¥ÌÑ∞ Ï§ÄÎπÑ

In [126]:
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# 1. Í≤∞Ï∏°Í∞í Ï≤òÎ¶¨
data['Embarked'] = data['Embarked'].fillna(data['Embarked'].mode()[0])
data['Sex'] = data['Sex'].map({'male': 0, 'female': 1})

# TitleÎ≥Ñ ÌèâÍ∑† ÎÇòÏù¥ ÎØ∏Î¶¨ Ï†ÄÏû• (‚òÖÏ§ëÏöî)
title_age_means = data.groupby('Title')['Age'].mean().copy()

# 2. Ïù∏ÏΩîÎî©
data = pd.get_dummies(data, columns=['Embarked', 'Title'], drop_first=True)

# Îã§Ïãú train.csv Î°úÎìúÌï¥ÏÑú TitleÎ≥Ñ ÌèâÍ∑† Íµ¨ÌïòÍ∏∞
train_raw = pd.read_csv("/home/woo/kuBig2025/ml_dl_python/data/titanic/train.csv")
train_raw['Title'] = train_raw['Name'].str.extract(r' ([A-Za-z]+)\.', expand=False)
train_raw['Title'] = train_raw['Title'].replace(['Mlle', 'Ms'], 'Miss')
train_raw['Title'] = train_raw['Title'].replace(['Mme'], 'Mrs')
rare_titles = ['Dr', 'Rev', 'Col', 'Major', 'Lady', 'Don', 'Dona', 'Jonkheer', 'Capt', 'Countess', 'Sir']
train_raw['Title'] = train_raw['Title'].replace(rare_titles, 'Rare')
title_age_means = train_raw.groupby('Title')['Age'].mean()


# 3. ÌîºÏ≤ò Î∞è ÌÉÄÍ≤ü Î∂ÑÎ¶¨
features = ['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare'] + \
           [col for col in data.columns if col.startswith('Embarked_') or col.startswith('Title_')]

X = data[features]
y = data['Survived']

# 4. Îç∞Ïù¥ÌÑ∞ Î∂ÑÌï†
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [127]:
# Î™®Îç∏ ÏÉùÏÑ±
model = xgb.XGBClassifier(
    n_estimators=100,
    max_depth=4,
    learning_rate=0.1,
    use_label_encoder=False,
    eval_metric='logloss',
    random_state=42
)

# Î™®Îç∏ ÌïôÏäµ
model.fit(X_train, y_train)

# ÏòàÏ∏°
y_pred = model.predict(X_test)

# Ï†ïÌôïÎèÑ Ï∂úÎ†•
from sklearn.metrics import accuracy_score
print("XGBoost Ï†ïÌôïÎèÑ:", accuracy_score(y_test, y_pred))

/home/woo/.local/lib/python3.10/site-packages/xgboost/training.py:183: UserWarning: [15:13:39] WARNING: /workspace/src/learner.cc:738:
Parameters: { "use_label_encoder" } are not used.

  bst.update(dtrain, iteration=i, fobj=obj)

XGBoost Ï†ïÌôïÎèÑ: 0.8324022346368715

### test Îç∞Ïù¥ÌÑ∞ Ï†ÑÏ≤òÎ¶¨

In [131]:
# 1. ÌÖåÏä§Ìä∏ Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞
test = pd.read_csv("/home/woo/kuBig2025/ml_dl_python/data/titanic/test.csv")

# üí° PassengerId Îî∞Î°ú Ï†ÄÏû•Ìï¥ÎëêÍ∏∞
passenger_ids = test['PassengerId'].copy()

# 2. Title Ïª¨Îüº Ï∂îÏ∂ú
test['Title'] = test['Name'].str.extract(r' ([A-Za-z]+)\.', expand=False)

# 3. Title Ï†ïÎ¶¨
test['Title'] = test['Title'].replace(['Mlle', 'Ms'], 'Miss')
test['Title'] = test['Title'].replace(['Mme'], 'Mrs')
rare_titles = ['Dr', 'Rev', 'Col', 'Major', 'Lady', 'Don', 'Dona', 'Jonkheer', 'Capt', 'Countess', 'Sir']
test['Title'] = test['Title'].replace(rare_titles, 'Rare')

# 4. Age Í≤∞Ï∏°Í∞íÏùÑ TitleÎ≥Ñ ÌèâÍ∑†ÏúºÎ°ú Ï±ÑÏö∞Í∏∞
# (train Îç∞Ïù¥ÌÑ∞ÏóêÏÑú Íµ¨Ìïú ÌèâÍ∑†Í≥º ÎèôÏùºÌïú Í∏∞Ï§ÄÏùÑ ÏÇ¨Ïö©Ìï¥Ïïº ÌïòÎØÄÎ°ú train Í∏∞Ï§Ä ÏÇ¨Ïö©!)

test['Age'] = test.apply(
    lambda row: title_age_means[row['Title']] if pd.isnull(row['Age']) else row['Age'],
    axis=1
)

# 5. SexÎ•º Ïà´ÏûêÎ°ú Î≥ÄÌôò
test['Sex'] = test['Sex'].map({'male': 0, 'female': 1})

# 6. Fare Í≤∞Ï∏°Í∞í Ï≤òÎ¶¨
test['Fare'] = test['Fare'].fillna(test['Fare'].median())

# 7. Embarked Í≤∞Ï∏°Í∞íÏùÄ ÏóÜÏßÄÎßå ÌòπÏãú Î™®Î•¥Îãà Ï±ÑÏõÄ (Î≥¥ÌÜµÏùÄ ÏóÜÏùå)
test['Embarked'] = test['Embarked'].fillna('S')

# 8. Î≤îÏ£ºÌòï Î≥ÄÏàò one-hot Ïù∏ÏΩîÎî©
test = pd.get_dummies(test, columns=['Embarked', 'Title'], drop_first=True)

# 9. trainÏùò feature Î™©Î°ùÍ≥º ÎßûÏ∂îÍ∏∞
# ÎàÑÎùΩÎêú Ïª¨ÎüºÏù¥ ÏûàÎã§Î©¥ Ï∂îÍ∞ÄÌïòÍ≥† 0ÏúºÎ°ú Ï±ÑÏõÄ
for col in X.columns:
    if col not in test.columns:
        test[col] = 0

# Í∑∏Î¶¨Í≥† ÏàúÏÑúÎèÑ ÎèôÏùºÌïòÍ≤å ÎßûÏ∂îÍ∏∞
test = test[X.columns]

# 10. ÏòàÏ∏°
pred_test = model.predict(test)

# 11. Ï†úÏ∂ú ÌååÏùº ÏÉùÏÑ±
submission = pd.DataFrame({
    'PassengerId': passenger_ids,
    'Survived': pred_test.astype(int)
})


# 12. Ï†ÄÏû•
submission.to_csv("/home/woo/kuBig2025/ml_dl_python/data/titanic/xgb_submission.csv", index=False)
print("üéâ Ï∫êÍ∏Ä Ï†úÏ∂ú ÌååÏùº ÏÉùÏÑ± ÏôÑÎ£å: xgb_submission.csv")

üéâ Ï∫êÍ∏Ä Ï†úÏ∂ú ÌååÏùº ÏÉùÏÑ± ÏôÑÎ£å: xgb_submission.csv